.burger {
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  transition: var(--transition);

  &::before,
  &::after,
  span {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: rgb(255 255 255 / 20%);
    transition: var(--transition);
  }

  &::before {
    content: "";
    top: 4px;
  }

  &::after {
    content: "";
    bottom: 4px;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    &::before,
    &::after,
    span {
      background-color: rgb(255 255 255 / 50%);
    }
  }

  &:active {
    &::before,
    &::after,
    span {
      background-color: rgb(255 255 255 / 20%);
    }
  }

  &--active {
    transform: rotate(-90deg);

    &::before,
    &::after,
    span {
      background-color: rgb(255 255 255 / 50%);
    }
  }
}
