.card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  width: 255px;
  height: 294px;
  background-color: rgb(255 255 255 / 4%);

  &__header {
    overflow: hidden;
    width: 255px;
    height: 144px;
  }

  &__body {
    padding: 16px 25px 15px 15px;
    width: 255px;
    height: 88px;
  }

  &__footer {
    @include flex-center-sb;

    border-top: 1px solid rgb(216 216 216 / 10%);
    padding: 16px 15px 15px 15px;
    width: 255px;
    height: 62px;
  }

  &__poster-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 16px;
    line-height: 75%;
    color: var(--color-light);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: rgb(255 255 255 / 50%);
  }

  &__category {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 2;
    border-radius: var(--btn-radius);
    padding: 4px 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: var(--color-light);
    background-color: var(--color-accent-1);
  }

  &__lection-date {
    font-weight: 400;
    font-size: 13px;
    line-height: 77%;
    color: var(--color-light);
  }

  &__btn {
    border-radius: 4px;
    padding: 9px 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 77%;
    color: var(--color-light);
  }
}
