.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgb(216 216 216 / 20%);
  background-color: var(--color-bg);

  &__container {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  &__sidebar-control {
    display: none;
  }

  &__user-profile-control {
    display: none;
  }

  &__user-profile-btn {
    /* stylelint-disable-next-line value-keyword-case */
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    padding: 6px 12px;
    color: rgb(255 255 255 / 20%);
    background-color: transparent;
    transition: var(--transition);

    &:hover {
      color: rgb(255 255 255 / 50%);
    }

    &:active {
      color: rgb(255 255 255 / 20%);
    }

    &--active {
      color: rgb(255 255 255 / 50%);
    }
  }

  &__toolbar {
    overflow: hidden;
    padding-right: 45px;
    padding-left: 55px;
    width: 100%;
  }

  &__logo {
    @include flex-all-center;

    padding: 19px 119px 15px 30px;
    width: 280px;
    height: 71px;
    background-color: rgb(156 165 236 / 4%);
  }

  @include middle-desktop {
    &__container {
      @include flex-center-sb;

      padding: 0 15px;
      width: 100%;
    }

    &__sidebar-control {
      display: block;
    }

    &__user-profile-control {
      display: block;
    }

    &__logo {
      padding: 0;
      width: auto;
      height: 71px;
      background-color: transparent;
    }
  }
}

.toolbar {
  transition: var(--transition);

  &__content {
    @include flex-center-sb;

    width: 100%;
    background-color: var(--color-bg);
  }

  &__user-block {
    @include flex-v-center;
  }

  @include middle-desktop {
    position: fixed;
    left: 0;
    right: 0;
    top: 72px;
    z-index: 20px;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    height: calc(100vh - 72px);
    transform: translateX(100%);

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: auto;
      padding-top: 40px;
      padding-bottom: 40px;
      width: 280px;
      height: 100%;
      min-height: 400px;
      background-color: var(--color-bg);
    }

    &__support {
      flex-shrink: 0;
      order: 1;
    }

    &__user-block {
      display: flex;
      flex-shrink: 0;
      flex-direction: column-reverse;
      margin-bottom: 40px;
    }
  }
}

.support {
  position: relative;

  &__list {
    @include flex-v-center;

    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 26px;
    }
  }

  &__link {
    display: inline-block;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: rgb(255 255 255 / 60%);
    mix-blend-mode: normal;
    transition: var(--transition);

    &:hover {
      color: var(--color-light);
    }

    &:active {
      color: rgb(255 255 255 / 60%);
    }
  }

  @include middle-desktop {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin: 0;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}

.user-counters {
  margin-right: 13px;

  &__list {
    @include flex-v-center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__value {
    border-radius: 5px;
    padding: 7px 9px;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    color: var(--color-light);
    background-color: rgb(255 255 255 / 6%);

    &--hours-progress {
      display: flex;
      align-items: center;
      padding: 3px 0;
      padding-right: 9px;
      padding-left: 3px;

      span:last-of-type {
        margin-left: 4px;
        font-size: 11px;
        color: rgb(255 255 255 / 60%);
      }
    }
  }

  &__energy {
    margin-right: 10px;
    border-radius: var(--border-radius);
    width: 18px;
    height: 18px;
    box-shadow: 0 0 12px rgb(255 71 56 / 50%);
    background-image: url("../img/achievements-counter-energy-btn.svg");
    background-position: center;
    background-size: 7px 12px;
    background-repeat: no-repeat;
    background-color: var(--color-accent-3);
  }

  @include middle-desktop {
    margin-right: 0;

    &__list {
      flex-direction: column;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}

.user {
  @include flex-v-center;

  &__avatar {
    overflow: hidden;
    margin-right: 13px;
    width: 44px;
    height: 44px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 11px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: var(--color-light);
  }

  &__status {
    position: relative;
    padding-left: 15px;
    font-weight: 600;
    font-size: 13px;
    line-height: 10px;
    color: rgb(255 255 255 / 60%);

    &::before {
      content: "";
      position: absolute;
      left: 4px;
      top: 50%;
      border-radius: 100%;
      width: 6px;
      height: 6px;
      background-color: rgb(255 255 255 / 60%);
      transform: translateY(-50%);
    }

    &--active {
      color: var(--color-status);

      &::before {
        background-color: var(--color-status);
      }
    }
  }

  &__subscribe {
    align-self: flex-start;
    margin-top: 5px;
  }

  &__subscribe-status {
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 2px 8px;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    text-transform: uppercase;
    color: var(--color-light);
    background-color: var(--color-accent-1);
  }

  @include middle-desktop {
    margin-bottom: 40px;
  }
}
