.news-switcher {
  width: 100%;

  &__label {
    @include flex-center-sb;

    height: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgb(255 255 255 / 50%);
    cursor: pointer;

    &:hover {
      .news-switcher__btn {
        &::before {
          background-color: rgb(255 255 255 / 20%);
        }
      }
    }
  }

  &__input {
    display: none;

    &:checked + .news-switcher__btn {
      &::before {
        box-shadow: 0 0 12px rgb(111 110 255 / 50%);
        background-color: var(--color-accent-2);
        transform: translate(20px, -50%);
      }
    }
  }

  &__btn {
    position: relative;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 15px;
    width: 42px;
    height: 22px;

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      display: block;
      border-radius: 100%;
      width: 16px;
      height: 16px;
      background-color: rgb(255 255 255 / 10%);
      transform: translateY(-50%);
      transition: var(--transition);
    }
  }
}
