.nav {
  &__list {
    height: auto;
  }

  &__list-inner {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: var(--transition);

    &--active {
      max-height: initial;
    }
  }

  &__item {
    width: 100%;
    height: auto;
    transition: var(--transition);
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    border-left: 3px solid transparent;
    padding: 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-light);
    background-image: none;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      border-left-color: var(--color-accent-2);
      background-color: rgb(255 255 255 / 3%);
    }

    &:active {
      border-left-color: transparent;
      background-color: transparent;
    }

    &--nest {
      &::before {
        content: "";
        position: absolute;
        right: 30px;
        top: 17px;
        width: 10px;
        height: 6px;
        background-image: url("../img/link-arrow.svg");
        background-position: center;
        background-size: 10px 10px;
        background-repeat: no-repeat;
        transform-origin: center;
        transition: var(--transition);
      }

      &-active {
        &::before {
          transform: rotate(180deg);
        }
      }
    }

    &--nest-2 {
      padding-left: 50px;
      text-transform: initial;
      color: rgb(255 255 255 / 50%);

      svg {
        display: inline-block;
        margin-right: 24px;
        width: 18px;
        height: 18px;
        color: rgb(255 255 255 / 50%);
        fill: currentColor;
        transition: var(--transition);
      }

      &:hover {
        color: var(--color-light);

        svg {
          color: var(--color-accent-2);
        }
      }

      &:active {
        color: rgb(255 255 255 / 50%);

        svg {
          color: rgb(255 255 255 / 50%);
        }
      }
    }
  }
}
