.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  padding-top: 92px;
  width: 280px;
  height: 100vh;
  background-color: rgb(156 165 236 / 4%);
  transition: var(--transition);

  &__content {
    @include flex-col-sb;

    height: 100%;
    max-width: 280px;
  }

  &__top {
    overflow-y: auto;
    height: 500px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: rgb(255 255 255 / 10%);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: rgb(255 255 255 / 10%);
    }
  }

  &__bottom {
    @include flex-v-bottom;

    margin-top: auto;
    border-top: 1px solid rgb(216 216 216 / 10%);
    padding: 30px;
    height: 240px;
  }

  @include middle-desktop {
    width: 100%;
    transform: translateX(-100%);
  }
}
