/* stylelint-disable */

@mixin for-desktop {
  @media (min-width: (1025px)) {
    @content;
  }
}

@mixin big-desktop {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin middle-desktop {
  @media (max-width: (1200px)) {
      @content;
  }
}

@mixin tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (576px)) {
    @content;
  }
}


// @mixin phone-landscape {
//   @media (max-width: (992px)) and (max-height: (600px)) and (orientation: (landscape)) {
//       @content;
//   }
// }

// @mixin small-phone {
//   @media (max-width: (400px)) {
//       @content;
//   }
// }

// @mixin small-phone-landscape {
//   @media (max-width: (992px)) and (max-height: (400px)) and (orientation: (landscape)) {
//       @content;
//   }
// }

// @mixin extra-small-phone {
//   @media (max-width: (320px)) {
//       @content;
//   }
// }

// @mixin large-desktop {
//   @media (max-width: (1400px)) {
//       @content;
//   }
// }

// @mixin middle-desktop {
//   @media (max-width: (1200px)) {
//       @content;
//   }
// }

// @mixin small-desktop {
//   @media (max-width: (992px)) {
//       @content;
//   }
// }

// @mixin tablet {
//   @media (max-width: (768px)) {
//       @content;
//   }
// }

// @mixin phone {
//   @media (max-width: (600px)) {
//       @content;
//   }
// }

// @mixin phone-landscape {
//   @media (max-width: (992px)) and (max-height: (600px)) and (orientation: (landscape)) {
//       @content;
//   }
// }

// @mixin small-phone {
//   @media (max-width: (400px)) {
//       @content;
//   }
// }

// @mixin small-phone-landscape {
//   @media (max-width: (992px)) and (max-height: (400px)) and (orientation: (landscape)) {
//       @content;
//   }
// }

// @mixin extra-small-phone {
//   @media (max-width: (320px)) {
//       @content;
//   }
// }
