<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo logo">
      <a href="/" class="logo__wrapper">
        <img
          class="logo__image"
          src="./img/beeinterns-logo.svg"
          alt="Web-site Logo"
        />
      </a>
    </div>

    <div class="footer__about-us">
      <h3 class="footer__title title">О нас</h3>
      <ul class="list-reset footer__list footer-list">
        <li class="footer-list__item">
          <a href="" class="footer-list__btn btn"> О курсах </a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-list__btn btn"> Отзывы </a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-list__btn btn"> Выпускникам курсов </a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-list__btn btn"> Карьерный центр </a>
        </li>
      </ul>
    </div>

    <div class="footer__work-with-us">
      <h3 class="footer__title title">Стань частью нашей команды</h3>
      <ul class="list-reset footer__list footer-list">
        <li class="footer-list__item">
          <a href="" class="footer-list__btn btn"> Вакансии наставников </a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-list__btn btn"> Вакансии преподавателей </a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-list__btn btn">
            Вакансии основной команды
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__copyright copyright">
      <div class="copyright__text">&copy; Beeinterns, 2022</div>
    </div>
  </div>
</footer>
