<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">

  <!-- FAVICON Links -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
  <link rel="manifest" href="./favicons/site.webmanifest">
  <link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">

  <title>Beeinterns | Домашняя страница</title>

  <link rel="preload" href="fonts/JostRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/JostMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/JostSemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/JostBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
