<header class="header">
  <div class="container header__container">
    <div class="header__sidebar-control">
      <button class="btn-reset burger" type="button"><span></span></button>
    </div>

    <div class="header__logo">
      <a href="/" class=" logo">
        <img loading="lazy" src="./img/logo.svg" class="image" width="138" height="37" alt="Логотип вебсайта Beeinterns">
      </a>
    </div>

    <div class="header__user-profile-control">
      <button class="btn-reset header__user-profile-btn" type="button">Профиль</button>
    </div>

    <div class="header__toolbar toolbar">
      <div class="toolbar__content">
        <div class="toolbar__support support">
          <ul class="list-reset support__list">
            <li class="support__item">
              <a href="#" class="support__link">
                FAQ
              </a>
            </li>
            <li class="support__item">
              <a href="#" class="support__link">
                Поддержка
              </a>
            </li>
            <li class="support__item">
              <a href="#" class="support__link">
                Настройки
              </a>
            </li>
          </ul>
        </div>

        <div class="toolbar__user-block">
          <div class="toolbar__user-counters user-counters">
            <ul class="list-reset user-counters__list">
              <li class="user-counters__item">
                <div class="user-counters__value">
                  15 готовых дз
                </div>
              </li>
              <li class="user-counters__item">
                <div class="user-counters__value">
                  18 лекций
                </div>
              </li>
              <li class="user-counters__item">
                <div class="user-counters__value user-counters__value--hours-progress">
                  <span class="user-counters__energy"></span>
                  1200
                  <span>часов</span>
                </div>
              </li>
            </ul>
          </div>

          <div class="toolbar__user user">
            <div class="user__avatar">
              <picture>
                <source srcset="./img/user-avatar.avif" type="image/avif">
                <source srcset="./img/user-avatar.webp" type="image/webp">
                <img loading="lazy" src="./img/user-avatar.png" class="image" width="44" height="44" alt="Аватар пользователя">
              </picture>
            </div>
            <div class="user__info">
              <span class="user__name">Вася Пупкин</span>
              <span class="user__status user__status--active">Online</span>
            </div>
            <div class="user__subscribe">
              <a href="#" class="user__subscribe-status" title="Статус подписки">pro</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <header class="header">
  <div class="header__container container">
      <div class="header__sidebar-control">
          <button class="btn-reset btn header__sidebar-btn" type="button"><span></span></button>
      </div>

      <div class="header__logo-wrapper">
          <div class="sidebar__logo logo">
              <a href="/" class="logo__wrapper">
                  <img class="logo__image" src="./img/beeinterns-logo.svg" alt="Web-site Logo">
              </a>
          </div>
      </div>

      <div class="header__user-profile-control">
          <button class="btn-reset btn btn--fill header__user-profile-btn" type="button">Профиль</button>
      </div>

      <div class="header__toolbar toolbar">
          <div class="toolbar__support support">
              <ul class="list-reset support__list">
                  <li class="support__item">
                      <a href="#" class="support__btn btn">
                          FAQ
                      </a>
                  </li>
                  <li class="support__item">
                      <a href="#" class="support__btn btn">
                          Поддержка
                      </a>
                  </li>
                  <li class="support__item">
                      <a href="#" class="support__btn btn">
                          Настройки
                      </a>
                  </li>
              </ul>
          </div>

          <div class="toolbar__achievements-counter achievements-counter">
              <ul class="list-reset achievements-counter__list">
                  <li class="achievements-counter__item">
                      <div class="achievements-counter__btn">
                          15 готовых дз
                      </div>
                  </li>
                  <li class="achievements-counter__item">
                      <div class="achievements-counter__btn">
                          18 лекций
                      </div>
                  </li>
                  <li class="achievements-counter__item">
                      <div class="achievements-counter__btn achievements-counter__btn--hours-progress">
                          <span class="achievements-counter__energy"></span>
                          1200
                          <span>часов</span>
                      </div>
                  </li>
              </ul>
          </div>

          <div class="toolbar__user-account user-account">
              <div class="user-account__avatar">
                  <img src="./img/user-avatar.png" alt="user-avatar" class="user-account__avatar-image">
              </div>
              <div class="user-account__info">
                  <span class="user-account__name">Вася Пупкин</span>
                  <span class="user-account__online-status user-account__online-status--active">Online</span>
              </div>
              <div class="user-account__subscribe">
                  <a href="#" class="user-account__subscribe-btn btn btn--fill" title="Статус подписки">pro</a>
              </div>
          </div>
      </div>
  </div>
</header> -->
