<aside class="sidebar">
  <div class="sidebar__content">
    <div class="sidebar__top">
      <nav class="sidebar__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <span class="nav__link nav__link--nest">
              Программа
            </span>
            <ul class="list-reset nav__list-inner">
              <li class="nav__item">
                <a href="#" class="nav__link">Менторы</a>
              </li>
              <li class="nav__item">
                <span class="nav__link nav__link--nest">
                  Лекции
                </span>
                <ul class="list-reset nav__list-inner">
                  <li class="nav__item">
                    <a href="#" class="nav__link nav__link--nest-2">
                      <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#html-css"></use>
                      </svg>
                      HTML/CSS
                    </a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link nav__link--nest-2">
                      <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#git"></use>
                      </svg>
                      GIT
                    </a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link nav__link--nest-2">
                      <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#java-script"></use>
                      </svg>
                      JavaScript
                    </a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link nav__link--nest-2">
                      <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#react"></use>
                      </svg>
                      React
                    </a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link nav__link--nest-2">
                      <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#angular"></use>
                      </svg>
                      Angular
                    </a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link nav__link--nest-2">
                      <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#data"></use>
                      </svg>
                      Data
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">
              Правила поступления
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Новости</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Обратная связь</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="sidebar__bottom">
      <div class="footer__news-switcher news-switcher">
        <label for="news-switcher" class="news-switcher__label">
          Получать рассылку
          <input
            class="news-switcher__input"
            type="checkbox"
            name="news-switcher"
            id="news-switcher"
          />
          <span class="news-switcher__btn"></span>
        </label>
      </div>
    </div>
  </div>
</aside>





