html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  position: relative;
  z-index: 10;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background-color: rgb(255 255 255 / 10%);
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: rgb(255 255 255 / 30%);
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background-color: var(--color-bg);
}

.main {
  padding-top: 72px;
  padding-left: 280px;
  background-color: var(--color-bg);

  @include middle-desktop {
    padding-left: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  // margin: 0 auto;
  // max-width: 1440px;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  margin: 0 auto;
  // padding: 0 var(--container-offset);
  // max-width: var(--container-width);
  padding: 0 55px;

  @include middle-desktop {
    padding: 0 20px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--btn-radius);
  padding: 8px 12px;
  text-align: center;
  color: var(--color-light);
  transition: var(--transition);
  cursor: pointer;
  user-select: none;

  &--fill {
    background-color: var(--color-accent-1);

    &:hover {
      background-color: var(--color-status);
    }

    &:active {
      color: var(--color-light);
      background-color: var(--color-accent-1);
    }
  }

  &--fill-accent-2 {
    background-color: var(--color-accent-2);
  }
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 82%;
  text-transform: uppercase;
  color: var(--color-light);

  &--center {
    text-align: center;
  }
}

.descr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--color-light);

  &--center {
    text-align: center;
  }

  &--hero {
    font-weight: 400;
    font-size: 17px;
    line-height: 118%;
    letter-spacing: initial;
    color: rgb(255 255 255 / 60%);
  }
}
