// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Jost", sans-serif;
  --content-width: 1140px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // радиус границ
  --border-radius: 3px;

  // transition
  --transition: all 0.2s linear;

  // grid gap
  --grid-gap: 30px;

  // colors
  // --color-primary: #d3b10f; // rgb(211 177 15)
  // --color-primary-translucent: rgb(211 177 15 / 40%);
  // --color-accent: #375b26; // rgb(55, 91, 38)
  // --color-accent-translucent: rgb(55 91 38 / 40%);
  // --color-accent-2: #dc6acf;
  // --color-dark: #112734; // rgb(17 39 52)
  // --color-dark-translucent: rgb(17 39 52 / 70%);
  // --color-light: #fff;
  // --color-bg: #ededed;
  --color-bg: #2b2c3a; // весь задний фон и вся страница в целом
  --color-gray: #d8d8d8;
  --color-accent-1: #6b69f9; // кнопки
  --color-accent-2: #6f6eff; // тег или что-то типа того
  --color-accent-3: #ff4738; // индикатор крутости (много ботаешь)
  --color-light: #fff; // основной текст
  --color-status: #24cb8d; // онлайн и может быть ховер кнопок
}
